.fullNavbar {
    align-content: right;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
}

.navItem {
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: right;
    color: #71779a;
    font-weight: bolder;
    float: right;
}

.navItem:hover {
    color: #ff7247;
}