
.mapContainerClassName {
    width: 620px;
    float:left;
    margin: 0%;
}


.ArrowButton {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    left: 9px;
    z-index: 12;
    cursor: pointer;
}

.right {
    top: 150px;
}

.left {
    top: 110px;
}